.App {
    text-align: center;
}
h1 {
    margin:0;
    padding: 10px;
}
::selection {
    color:#FF5252;
}
.center-align {
    text-align: center;
}
header {
    height: 100%;
    background: #1976D2;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline black;
    color:white;
}
/* 
    Table CSS
*/
table {
    min-width: 100%;
    border: 1px solid black;
    margin: 0 auto;
}
tr,td {
    height: 10px;
}
table th {
    background:black;
    color:white;
}
table tr:nth-child(odd){
    background-color: #eee;
}
/* 
    Input
*/

.Form {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    padding: 20px ;
    background: #7B1FA2;
    color:white;
}
input:focus {
    border: 0.5px solid #E040FB;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
