.App {
    text-align: center;
}

header {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline red;
    color:blue;
}
table {
    min-width: 100%;
    min-height: 500px;
    border: 1px solid black;
    margin: 0 auto;
}

.center-align {
    text-align: center;
}
table th {
    background:black;
    color:white;
}
table tr:nth-child(odd){
    background-color: #eee;
}